schema/rspec-v3/ad-reservation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://nitlab.inf.uth.gr/schema/sfa/rspec/1" xmlns:rspec="http://nitlab.inf.uth.gr/schema/sfa/rspec/1">
  <xs:element name="lease">
    <xs:complexType>
      <xs:attribute name="uuid" use="required"/>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="valid_from" use="required" type="xs:dateTime"/>
      <xs:attribute name="valid_until" use="required" type="xs:dateTime"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
