schema/rspec-v3/ad-reservation.rnc

default namespace = "http://nitlab.inf.uth.gr/schema/sfa/rspec/1"

start = Lease

Lease = element lease {
  (attribute leaseID { xsd:ID } &
  attribute uuid { text } &
  attribute slice_id { text } &
  attribute valid_from { xsd:dateTime } &
  attribute valid_until { xsd:dateTime })
  | (attribute leaseREF { xsd:IDREF })
}
